[Unit]
Description=Klangbecken data directory consistency check

[Service]
Type=simple
EnvironmentFile=/etc/klangbecken.conf
ExecStart=/bin/bash -c '${KLANGBECKEN_COMMAND} fsck -d ${KLANGBECKEN_DATA_DIR} 2> ${KLANGBECKEN_DATA_DIR}/log/fsck.log'

[Install]
WantedBy=multi-user.target
