[Unit]
Description=Liquidsoap
Documentation=http://liquidsoap.fm man:liquidsoap(1)
Requires=sound.target
Wants=network-online.target
After=network-online.target sound.target

[Service]
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /var/log/liquidsoap
ExecStartPre=-/bin/chown liquidsoap /var/log/liquidsoap
ExecStart=/usr/bin/liquidsoap -v /etc/liquidsoap/%i.liq
User=liquidsoap
Group=liquidsoap

[Install]
WantedBy=multi-user.target
