<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <title>RaBe Klangbecken</title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Roboto:700,500italic,500,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="dist/css/main.css" type="text/css">

</head>

<body id="app">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" v-link="{path: '/music'}">
                    <!--span class="glyphicon glyphicon-music"></span-->
                    RaBe Klangbecken
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li v-link-active><a v-link="{path: '/music'}" data-toggle="tab">Music</a></li>
                    <li v-link-active><a v-link="{path: '/jingles'}" data-toggle="tab">Jingles</a></li>
                    <!--li v-link-active><a v-link="{path: '/settings'}" data-toggle="tab">Settings</a></li-->
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><button type="submit" class="btn navbar-btn btn-danger" name="logout" id="logout" @click="logout" value="Log Out">Log Out</button></li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="tab-content ">
            <router-view></router-view>
        </div>
    </div>

    <!-- Templates -->
    <template id="music-tmpl">
  <!-- Login Form -->
  <div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" placeholder="Username" v-model="loginName">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" placeholder="Password" v-model="password" @keyup.enter="login()">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" @click="login()">Login</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="tab-pane active music-dropzone main-dropzone">
      <div class="rapper text-center">
          <span class="glyphicon glyphicon glyphicon-cloud-upload"></span> Drop it like it's hot
      </div>
  </div>
  <div class="row">
      <div class="col-md-4 col-sm-5 col-xs-12 search">
        <label>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <input type="text" v-model="search" placeholder="Search...">
        </label>

        <span v-if="search" class="glyphicon glyphicon-remove search_delete" @click="search=''"></span>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-12 well text-center dropzone" style="margin-bottom:20px;" v-if="!progress">
        <span class="glyphicon glyphicon glyphicon-cloud-upload"></span> Drag and drop files here
      </div>
      <div class="col-md-2 col-sm-3 col-xs-12 text-center well-button" v-if="!progress">
        <input id="fileupload-music" style="margin: auto 0 auto 0" type="file" name="file" accept=".mp3,.oga,.ogg,.flac,audio/mpeg,audio/mp3,audio/ogg,audio/vorbis,application/ogg,audio/flac" multiple>
        <label  class="btn btn-primary"  for="fileupload-music">Select files...</label>
      </div>
      <div class="col-md-8 col-sm-7 col-xs-6 well" v-if="!!progress">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" v-bind:style="'width: ' + progress  + '%'"></div>
        </div>
      </div>
    </div>

  <div class="row">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr class="active">
              <th v-for="key in ['filename', 'artist', 'title', 'album', 'length']" :class="key">
                {{ key | capitalize }}
              </th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody v-if="!loading" v-for="chunk in music | orderBy 'date' -1">
            <tr class="active">
              <td colspan="6">
                Imported {{chunk.date}}
              </td>
            </tr>
            <tr v-for="file in chunk.files | filterBy search"
                class="{{file.count === 0 ? 'disabled' : ''}}">
              <template v-if="file.edit">
                  <td>{{file.original_filename}}</td>
                  <td><input v-model="file.artist_tmp" @keyup.esc="cancelChanges(file)" @keyup.enter="saveChanges(file)"></td>
                  <td><input v-model="file.title_tmp" @keyup.esc="cancelChanges(file)" @keyup.enter="saveChanges(file)"></td>
                  <td><input v-model="file.album_tmp" @keyup.esc="cancelChanges(file)" @keyup.enter="saveChanges(file)"></td>
                  <td class="td-time">{{file.length | time}}</td>
                  <td class="actions">
                      <button @click="cancelChanges(file)" class="btn btn-xs" title="Cancel Edit" data-toggle="tooltip">
                          <span class="glyphicon glyphicon-share-alt"></span>
                      </button>
                      <button @click="saveChanges(file)" class="btn btn-xs" title="Save Changes" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                  </td>
              </template>



              <template v-else>
              <td v-for="key in ['original_filename', 'artist', 'title', 'album']" title="{{file[key]}}"
                  data-toggle="tooltip">{{file[key]}}</td>
              <td class="td-time">{{file.length | time}}</td>
              <td class="actions">
                <button class="btn btn-xs"
                    title="Edit" v-on:click="startEdit(file)" data-toggle="tooltip">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-xs {{file.path === nowplaying ? 'active' : ''}}"
                        title="Play" v-on:click="play(file.path)" data-toggle="tooltip">
                  <span class="glyphicon {{file.path === nowplaying ? 'glyphicon-stop' : 'glyphicon-play'}}"></span>
                </button>
                <button class="btn btn-xs" title="{{file.count === 0 ? 'Enable': 'Disable'}}"
                        v-on:click="disableFile(file)" data-toggle="tooltip" >
                  <span class="glyphicon {{file.count === 0 ? 'glyphicon-plus': 'glyphicon-ban-circle'}}"></span>
                </button>

                <!-- <button class="btn btn-xs btn-playNext" title="Play Next" data-toggle="tooltip">
                  <span class="glyphicon glyphicon-open"></span>
                </button> -->

                <button class="btn btn-xs btn-delete" title="Delete" v-on:click="deleteFile(file)" data-toggle="tooltip">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </template>
            </tr>
          </tbody>
        </table>
        <div v-if="loading" class="loader"></div>
      </div>
    </div>
  <audio v-if="nowplaying" v-bind:src="nowplaying" v-on:ended="ended" autoplay></audio>
</template>

    <template id="jingles-tmpl">
  <div class="tab-pane active jingles-dropzone main-dropzone">
      <div class="rapper text-center">
          <span class="glyphicon glyphicon glyphicon-cloud-upload"></span> Drop it like it's hot
      </div>
  </div>
  <div class="row">
      <div class="col-md-4 col-sm-5 col-xs-6 search">
        <label>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <input type="text" v-model="search" placeholder="Search...">
        </label>
        <span v-if="search" class="glyphicon glyphicon-remove search_delete" @click="search=''" ></span>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-3 well text-center dropzone" style="margin-bottom:20px;" v-if="!progress">
        <span class="glyphicon glyphicon glyphicon-cloud-upload"></span> Drag and drop files here
      </div>
      <div class="col-md-2 col-sm-3 col-xs-3 text-center well-button" v-if="!progress">
        <input id="fileupload-jingles" style="margin: auto 0 auto 0" type="file" name="file" accept=".mp3,.oga,.ogg,.flac,audio/mpeg,audio/mp3,audio/ogg,audio/vorbis,application/ogg,audio/flac" multiple>
        <label  class="btn btn-primary"  for="fileupload-jingles">Select files...</label>
      </div>
      <div class="col-md-8 col-sm-7 col-xs-6 well" v-if="!!progress">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" v-bind:style="'width: ' + progress  + '%'"></div>
        </div>
      </div>
    </div>

  <div class="row">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr class="active">
              <th v-for="key in ['filename']">
                {{ key | capitalize }}
              </th>
              <th width="120">Date</th>
              <th width="90">Length</th>
              <th width="110"></th>
            </tr>
          </thead>
          <tbody v-if="!loading">
            <tr v-for="file in jingles | filterBy search"
              class="{{file.count=== 0 || file.count === '0' ? 'disabled' : ''}}">
              <td>{{file.original_filename}}</td>
              <td class="td-date">{{file.import_timestamp | date}}</td>
              <td class="td-time">{{file.length | time}}</td>
              <td>
                <input class="spinner" type="number" name="Priority" v-model="file.count" min="0" max="9"
                      title="Priority (0-9)" data-toggle="tooltip" v-on:change="updateCount(file)"
                      onClick="this.select();">
                <button class="btn btn-xs {{file.path === nowplaying ? 'active' : ''}}"
                        title="Play" v-on:click="play(file.path)" data-toggle="tooltip">
                  <span class="glyphicon {{file.path === nowplaying ? 'glyphicon-stop' : 'glyphicon-play'}}"></span>
                </button>
                <button class="btn btn-xs btn-delete" title="Delete" v-on:click="deleteFile(file)" data-toggle="tooltip">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div v-if="loading" class="loader"></div>
      </div>
    </div>
  <audio v-if="nowplaying" v-bind:src="nowplaying" v-on:ended="ended" autoplay></audio>
</template>

    <!--template id="settings-tmpl">
  <h1>Settings</h1>
</template-->

    <!-- Code -->
    <script src="static/jquery.js"></script>
    <script src="static/jquery.ui.widget.js"></script>
    <script src="static/jquery.fileupload.js"></script>
    <script src="static/vue.js"></script>
    <script src="static/vue-router.js"></script>
    <script src="static/vue-resource.js"></script>
    <script src="static/bootstrap.js"></script>
    <script>
        "use strict";

        $(document).ready(() => {
            $.fn.collapse.Constructor.TRANSITION_DURATION = 0;
            $('[data-toggle="tooltip"]').tooltip({
                animation: false
            });
            $('.navbar-collapse').click('li', () => {
                $('.navbar-collapse').collapse('hide');
            });
        });

        Vue.filter('time', seconds => Math.floor(seconds / 60) + ':' + ('00' + Math.round(seconds % 60)).slice(-2));
        Vue.filter('date', micros => {
            var date = new Date(micros * 1000);
            return ('00' + date.getDate()).slice(-2) + '.' +
                ('00' + (date.getMonth() + 1)).slice(-2) + '.' +
                date.getFullYear()
        });

        var Music = Vue.extend({
            template: '#music-tmpl',
            data: () => ({
                music: [],
                nowplaying: '',
                search: '',
                loading: true,
                progress: 0,
                loginName: '',
                password: '',
            }),
            ready: function() {
                this.tryLogin();

                // FIXME: bind jquery-ui/fileupload events natively to vue methods
                $('#fileupload-music').fileupload({
                    url: '/api/music/',
                    dataType: 'json',
                    dropZone: '.music-dropzone',
                    done: (e, data) => {
                        this.loadOneMusicFile(data.response().result);
                    },
                    error: (e, data) => {
                        // FIXME: show notification somewhere (wrong filetype)
                        console.log(e);
                        console.log(data);
                    },
                    progressall: (e, data) => {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        this.progress = progress === 100 ? 0 : progress;
                    }
                }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
            },
            methods: {
                loadMusic: function() {
                    this.loading = true;
                    this.$http.get('/data/index.json').then(response => {
                        var formatDate = date => date.getFullYear() + '-' +
                            ('00' + (date.getMonth() + 1)).slice(-2) + '-' +
                            ('00' + date.getDate()).slice(-2);
                        var entries = Object.entries(response.data)
                        entries.sort((a, b) => a[1].import_timestamp < b[1].import_timestamp);
                        this.music = entries.reduceRight((groupedList, file) => {
                            var [id, data] = file;
                            if (data.playlist !== 'music') {
                                return groupedList;
                            }
                            var date = formatDate(new Date(data.import_timestamp * 1000));
                            if (groupedList.length === 0 || groupedList[0].date !== date) {
                                groupedList.unshift({
                                    date: date,
                                    collapsed: false,
                                    files: []
                                })
                            }

                            data.edit = false;
                            data.id = id;
                            data.path = '/data/' + data.playlist + '/' + data.id + data.ext;
                            groupedList[0].files.push(data);
                            //console.log(data);
                            return groupedList
                        }, []);
                        this.loading = false;
                    }, response => {
                        console.log("Error")
                    });
                },
                tryLogin: function() {
                    this.$http.get('/api/login/').then(response => { // Try Kerberos
                        this.loadMusic();
                    }, response => {
                        if (response.status === 401) { // Unauthorized
                            $('#loginModal').modal('show');
                        } else {
                            console.log("Error from Server:", response);
                        }
                    });
                },
                login: function() {
                    this.$http.post('/api/login/', {
                        'login': this.loginName,
                        password: this.password
                    }, {
                        emulateJSON: true
                    }).then(response => {
                        $('#loginModal').modal('hide');
                        this.loadMusic();
                        this.password = '';
                    }, response => {
                        //FIXME: show message to user
                        console.log(response);
                        this.password = '';
                    });
                },

                loadOneMusicFile: function(file) {
                    if (this.music.length === 0 || this.music[0].date !== 'just now') {
                        this.music.unshift({
                            date: 'just now',
                            collapse: false,
                            files: []
                        });
                    }
                    var id = Object.keys(file)[0];
                    var data = Object.values(file)[0];
                    data.edit = false;
                    data.id = id;
                    data.path = '/data/' + data.playlist + '/' + data.id + data.ext;
                    this.music[0].files.unshift(data);
                },
                deleteFile: function(obj) {
                    this.$http.delete('/api/' + obj.playlist + '/' + obj.id + obj.ext).then(response => {
                        var found = false;
                        for (var chunk of this.music) {
                            var index = chunk.files.indexOf(obj);
                            if (index > -1) {
                                chunk.files.splice(index, 1);
                                found = true;
                            }
                        }
                        if (!found) {
                            console.log("Error while deleting: Could not find file object.")
                        }
                    }, response => {
                        //FIXME: error handling
                    });
                },
                disableFile: function(obj) {
                    var new_count = 0;
                    var old_count = obj.count;
                    if (obj.count === 0) {
                        new_count = 1;
                    }
                    obj.count = new_count;
                    this.$http.put('/api/' + obj.playlist + '/' + obj.id + obj.ext, {
                        count: new_count
                    }).then(response => {
                        // s'all good man
                    }, response => {
                        obj.count = old_count;
                        //FIXME: error handling
                        console.error(response);
                    });
                },
                startEdit: function(file) {
                    file.edit = true;
                    Vue.set(file, 'artist_tmp', file.artist);
                    Vue.set(file, 'album_tmp', file.album);
                    Vue.set(file, 'title_tmp', file.title);
                },
                saveChanges: function(file) {
                    file.edit = false;
                    var old_artist = file.artist;
                    var old_album = file.album;
                    var old_titel = file.title;

                    file.artist = file.artist_tmp;
                    file.album = file.album_tmp;
                    file.title = file.title_tmp;

                    this.$http.put('/api/' + file.playlist + '/' + file.id + file.ext, {
                        artist: file.artist_tmp,
                        album: file.album_tmp,
                        title: file.title_tmp,
                    }).then(response => {
                        // s'all good man
                    }, response => {
                        obj.count = old_count;
                        //FIXME: error handling
                        console.error(response);
                        file.artist = old_artist;
                        file.album = old_album;
                        file.title = old_title;
                    });
                },
                cancelChanges: function(file) {
                    Vue.delete(file, 'artist_tmp');
                    Vue.delete(file, 'album_tmp');
                    Vue.delete(file, 'title_tmp');

                    file.edit = false;
                },
                play: function(path) {
                    if (this.nowplaying === path) {
                        this.nowplaying = '';
                    } else {
                        this.nowplaying = path;
                    }
                },
                ended: function() {
                    this.nowplaying = '';
                },
            },
        });

        var Jingles = Vue.extend({
            template: '#jingles-tmpl',
            data: () => ({
                jingles: [],
                nowplaying: '',
                search: '',
                loading: true,
                progress: 0,
            }),
            ready: function() {
                this.tryLogin();

                // FIXME: bind jquery-ui/fileupload events natively to vue methods
                $('#fileupload-jingles').fileupload({
                        url: '/api/jingles/',
                        dataType: 'json',
                        dropZone: '.jingles-dropzone',
                        done: (e, data) => {
                            this.loadOneJingleFile(data.response().result);
                        },
                        error: (e, data) => {
                            // FIXME: show notification somewhere (wrong filetype)
                            console.log(e);
                            console.log(data);
                        },
                        progressall: (e, data) => {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            this.progress = progress === 100 ? 0 : progress;
                        }
                    }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
            },
            methods: {
                loadJingles: function() {
                    this.loading = true;
                    this.$http.get('/data/index.json').then(response => {
                        var formatDate = date => date.getFullYear() + '-' +
                            ('00' + (date.getMonth() + 1)).slice(-2) + '-' +
                            ('00' + date.getDate()).slice(-2);
                        this.jingles = Object.entries(response.data).reduceRight((list, file) => {
                            var [id, data] = file;
                            if (data.playlist !== 'jingles') {
                                return list;
                            }

                            data.edit = false;
                            data.id = id;
                            data.path = '/data/' + data.playlist + '/' + data.id + data.ext;
                            list.push(data);
                            return list
                        }, []);
                        this.loading = false;
                    }, response => {
                        console.log('Error');
                    });
                },
                tryLogin: function() {
                    this.$http.get('/api/login/').then(response => { // Try Kerberos
                        this.loadJingles();
                    }, response => {
                        if (response.status === 401) { // Unauthorized
                            $('#loginModal').modal('show');
                        } else {
                            console.log("Error from Server:", response);
                        }
                    });
                },
                loadOneJingleFile: function(file) {
                    var id = Object.keys(file)[0];
                    var data = Object.values(file)[0];
                    data.edit = false;
                    data.id = id;
                    data.path = '/data/' + data.playlist + '/' + data.id + data.ext;
                    this.jingles.unshift(data);
                },
                deleteFile: function(obj) {
                    this.$http.delete('/api/' + obj.playlist + '/' + obj.id + obj.ext).then(response => {
                        var index = this.jingles.indexOf(obj);
                        if (index > -1) {
                            this.jingles.splice(index, 1);
                        } else {
                            console.log("Error while deleting: Could not find file object.")
                        }
                    }, response => {
                        //FIXME: error handling
                    });
                },
                updateCount: function(obj) {
                    this.$http.put('/api/' + obj.playlist + '/' + obj.id + obj.ext, {
                        count: parseInt(obj.count)
                    }).then(response => {}, response => {
                        //FIXME: error handling
                        console.error(response);
                    });
                },
                play: function(path) {
                    if (this.nowplaying === path) {
                        this.nowplaying = '';
                    } else {
                        this.nowplaying = path;
                    }
                },
                ended: function() {
                    this.nowplaying = '';
                },
            },
        });

        // var Settings = Vue.extend({
        //   template: '#settings-tmpl',
        // });

        var App = Vue.extend({
            methods: {
                logout: function() {
                    this.$http.post('/api/logout/').then(response => {
                        window.location.reload();
                    }, response => {
                        //FIXME: show message to user
                        console.log(response);
                    });

                },
            }
        });

        var router = new VueRouter({
            hashbang: false,
            linkActiveClass: 'active',
            history: false,
        });

        router.map({
            '/music': {
                component: Music,
            },
            '/jingles': {
                component: Jingles,
            },
            // '/settings': {
            //   component: Settings,
            // },
        });

        router.redirect({
            '*': '/music',
        });

        router.start(App, '#app');




        $(document).bind('dragover', function (e) {
            var dropZone = $('.main-dropzone'),
            timeout = window.dropZoneTimeout;
            if (timeout) {
                clearTimeout(timeout);
            } else {
                dropZone.addClass('in');
            }
            var hoveredDropZone = $(e.target).closest(dropZone);
            dropZone.toggleClass('hover', hoveredDropZone.length);
            window.dropZoneTimeout = setTimeout(function () {
                window.dropZoneTimeout = null;
                dropZone.removeClass('in hover');
            }, 100);
        });

    </script>
</body>

</html>
