name: Liquidsoap script

on:
- push
- pull_request

env:
  KLANGBECKEN_DATA: /tmp/data

jobs:
  check:
    strategy:
      matrix:
        liquidsoap: [1.3.2, 1.3.7]

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v3

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Docker pull
      run: docker pull radiorabe/liquidsoap:alpine-${{matrix.liquidsoap}}

    - name: Check liquidsoap version
      run: docker run --rm radiorabe/liquidsoap:alpine-${{matrix.liquidsoap}} --version

    - name: Prepare data directory
      run: python -m klangbecken init -d $KLANGBECKEN_DATA

    - name: Docker run check
      run: |
        docker run --rm -e KLANGBECKEN_DATA=$KLANGBECKEN_DATA -v $KLANGBECKEN_DATA:$KLANGBECKEN_DATA -v `pwd`:/var/lib/liquidsoap radiorabe/liquidsoap:alpine-${{matrix.liquidsoap}} --check /var/lib/liquidsoap/klangbecken.liq
